/*******************************************
/* TESTIMONIALS
/*******************************************/
main {
    margin-top: 8rem;
}

    @media screen and (max-width: 770px) {
        main {
            margin-left: 0;
            margin-right: 0;
        }
    }

.section-consultation h1 {
    font-size: 4rem;
    font-weight: 900;
}

.section-consultation p:last-of-type,
.section-consultation form {
    margin-bottom: 8rem;
}