/* Box Model Hack */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*******************************************
/* VARIABLES
/*******************************************/
:root {
    --color-main: #E75A7C;
    --color-main-light: #FAE0E6;
    --color-main-dark: #931534;

    --color-background: #FEF6F8;
    
    --color-main-text: #2D0610;
    
    --color-accent-green: #82C44C;
    --color-accent-green-light: #D1EABE;
    --color-accent-green-dark: #38581D;
    
    --color-accent-blue: #5A9EE7;
    --color-accent-blue-light: #E0EDFA;
    --color-accent-blue-dark: #155293;
}

/*******************************************
/* FONTS
/*******************************************/
@font-face {
    font-family: 'Chelsy';
    src: url('../fonts/chelsy/Chelsy.eot');
    src: url('../fonts/chelsy/Chelsy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chelsy/Chelsy.woff2') format('woff2'),
         url('../fonts/chelsy/Chelsy.woff') format('woff'),
         url('../fonts/chelsy/Chelsy.ttf')  format('truetype');
}

/*******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 62.5%;
}

body {
    font-family: Inter, 'Arial Narrow Bold', sans-serif;
    color: var(--color-main-text);
    background: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    margin: 0;
}

p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

ul {
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1140px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: var(--color-background);
}

a:hover, 
a:focus {
    text-decoration: underline;
}

.btn {
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    min-width: 120px;
    padding: 0.75rem 2.5rem;
    border-radius: 5px;
    text-align: center;
}

/*******************************************
/* HEADER
/*******************************************/
.site-header {
    position: relative;
    background: var(--color-main);
    padding: 2rem 1.5rem;
}

.site-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    @media screen and (max-width: 839px) {
        .site-header {
            padding-top: 0.75rem;
            padding-bottom: 0;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .site-header-wrapper {
            flex-wrap: wrap;
        }

        /* nav section */
        .site-header-middle {
            flex-basis: 100%;
            order: 3;
        }

        /* button cta */
        .site-header-end {
            justify-self: self-end;
        }
    }

.logo-img {
    width: 200px;
    margin-top: 8px;
}

.header-btn {
    background-color: var(--color-main);
    border: 1.5px solid var(--color-background);
    color: var(--color-background);
    font-size: 1.25rem;
}

.header-btn:hover,
.header-btn:focus {
    text-decoration: none;
    color: var(--color-main);
    background: var(--color-background);
}

    @media screen and (max-width: 445px) {
        .header-btn {
            display: none;
        }
    }

    /*******************************************
    /* NAV
    /*******************************************/
    nav.main ul {
        padding: 0;
        margin: 0;
    }

    nav.main li {
        list-style-type: none;
    }

    .nav-wrapper {
        display: flex;
        justify-content: space-around;
    }

    .nav-item a {
        display: block;
        margin: 0 1.5rem;
        padding: 0 3rem;
        font-size: 1.5rem;
    }

    .nav-item a:first-of-type {
        margin-left: 0;
    }
    
    .nav-item a:last-of-type {
        margin-right: 0;
    }
        @media screen and (max-width: 870px) {
            .nav-item a {
                padding: 0 1.5rem;
                font-size: 1.45rem;
            }
        }

        @media screen and (max-width: 839px) {
            .nav-item a {
                padding: 2rem 0 1.5rem 0;
                font-size: 1.25rem;
            }

            .header-btn {
                font-size: 1.25rem;
            }
        }

/*******************************************
/* LAYOUT
/*******************************************/
main, 
.section-wrapper, 
.footer-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}
    @media screen and (max-width: 1100px) {
        main {
            margin: 0 2rem;
        }

        .section-wrapper {
            margin: 0 2rem;
        }
    }

    @media screen and (max-width: 480px) {
        .section-wrapper {
            margin: 0 1em;
        }
    }

.section {
    margin-bottom: 3.5rem;
} 

.section h1 {
    font-size: 3rem;
    text-align: center;
}

/*******************************************
/* MAIN
/*******************************************/
main {
    display: flex;
}
 
    @media screen and (max-width: 839px) {
        main {
            margin-bottom: 3.5em;
        }
    }

.section-hero {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 6.5rem;
}

.section-hero > * {
    flex: 1;
    min-width: 0;
    padding: 2rem;
}

.section-hero-start {
    text-align: center;
}

.section-hero-start img, .section-hero-start p {
    margin-bottom: 3.25rem;
}

.section-hero-start img {
    padding-top: 2rem;
    margin: 0 auto;
}

    @media screen and (max-width: 770px) {
        .section-hero {
            flex-direction: column;
            align-items: center;
            position: relative;
            padding-top: 3rem;
        }

        .section-hero > * {
            padding: 0;
        }

        .section-hero-start {
            display: flex;
            flex-direction: column;
        }

        .section-hero-start p {
            padding-top: 2rem;
        }

        .hero-text {
            width: 70%;
            margin: 0 auto;
        }

        .hero-img {
            display: none;
        }
    }

.main-btn {
    background-color: var(--color-main);
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 4rem;
}

.main-btn:hover,
.main-btn:focus {
    text-decoration: none;
    color: var(--color-main);
    background: var(--color-main-light);
}

/*******************************************
/* ABOUT
/*******************************************/
.section-about {
    margin: 0 auto;
}

/* BIO */
.about-bio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.about-bio h1 {
    font-size: 6rem;
    text-align: left;
    margin-right: 3rem;
}

.about-bio p {
    line-height: 3.25rem;
}

    @media screen and (max-width: 770px) {
        .about-bio {
            flex-direction: column;
        }

        .about-bio h1, .about-bio p {
            text-align: center;
            margin: 0;
        }

        .about-bio h1 {
            margin-bottom: 1rem;
        }

        .about-grid, .about-bio p {
            margin-bottom: 5rem;
        }
    }

/* GRID */
.grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    border: 2px solid #e7e7e7;
}

.about-grid {  
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: 60% 35%; 
    grid-template-rows: auto; 
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "main subgrid";
}
  
.main-img { grid-area: main; }
  
.about-subgrid {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "one two"
        "three three";
    grid-area: subgrid;
}

.subgrid-img-one { grid-area: one; }
.subgrid-img-two { grid-area: two; }
.subgrid-img-three { grid-area: three; }
  
    /* grid on tablet / mobile */
    @media screen and (max-width: 770px) {
        .about-grid {
            grid-auto-columns: 1fr; 
            grid-template-columns: 1fr; 
            grid-template-areas:
                "main"
                "subgrid";
        }

        .about-subgrid {  
            display: grid;
            grid-template-columns: .5fr .5fr;
            grid-template-rows: 1fr;
            gap: 20px 20px;
            grid-auto-flow: row;
            grid-template-areas:
                "one two"
        }

        .subgrid-img-three { display: none; }
    }

/*******************************************
/* MESSAGES
/*******************************************/
.section-message {
    text-align: center;
    margin-top: 12rem;
    margin-bottom: 12rem;
}

.section-message h2 {
    font-size: 6rem;
    color: var(--color-main-dark);
    margin-bottom: 2rem;
    font-weight: 900;
}

.section-message p {
    font-size: 1.85rem;
}

    @media screen and (max-width: 839px) {
        .section-message h2 {
            font-size: 4.5rem;
        }
    }

/*******************************************
/* SERVICES
/*******************************************/
.section-services p {
    text-align: center;
    padding: 0 4rem;
}

.services-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

    @media all and (max-width:900px) {
        .services-grid {
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
        }
    }

.services-grid h3 {
    font-size: 1.85rem;
    margin: 1rem 0 0.6rem;
}

.services-grid a,
.services-grid .price {
    display: block;
    text-decoration: none;
    margin: 1.25rem 0 0.95rem;
    font-size: 1.20rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-main-text);
}

.services-grid p {
    margin: 1rem 0;
    line-height: 1.5;
}

.service {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #e7e7e7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    border: 2px solid #EE87A0;
}

.service h3,
.service .cta,
.service .price {
    color: #EE87A0;
}

.service .price {
    font-size: 1.75rem;
}

.service > * {
    flex: 1 1 100%;
}

.service .cta {
    align-self: flex-end;
}

.service-ama {
    flex-basis: 100%;
}

    /*******************************************
    /* SERVICES PAGE
    /*******************************************/

    #program-services .services-grid {
        flex-direction: column;
    }

    #program-services .service {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    #program-main {
        margin-top: 8rem;
    }

    #program-main h1 {
        font-size: 4rem;
        font-weight: 900;
    }

    #program-services .service:last-of-type {
        margin-bottom: 8rem;
    }

/*******************************************
/* TESTIMONIALS
/*******************************************/
.testimonial-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.testimonial {
    margin: 20px;
    padding: 20px 40px;
    background: #fff;
    border-radius: 6px;
    border: 2px solid #e7e7e7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.testimonial:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    border: 2px solid #EE87A0;
}

.section-testimonials > p {
    text-align: center;
    padding: 0 4rem;
}

.testimonial:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    border: 2px solid #EE87A0;
}

.testimonial-title {
    text-align: left;
    font-size: 2rem;
    margin-top: 1.5rem;
}

.testimonial-author {
    font-weight: bold;
}

.more-testimonials {
    margin: 25px;
    padding: 20px 40px;
    border-radius: 6px;
    background: radial-gradient(#fbc1cc, #fa99b2);
    font-size: 2rem;
    text-align: center;
    flex-basis: 100%;
    color: var(--color-main-text);
    margin-bottom: 8rem;
}

.more-testimonials:hover {
    font-weight: bold;
    text-decoration: none;
}

    /*******************************************
    /* TESTIMONIALS PAGE
    /*******************************************/
    #testimonials-page-wrapper main {
        margin-top: 8rem;
    }

    #testimonials-page-wrapper #success > p:last-of-type {
        margin-bottom: 3.5rem;
    }

        @media screen and (max-width: 770px) {
            #testimonials-page-wrapper main {
                margin-left: 0;
                margin-right: 0;
            }
        }

    #testimonials-page-wrapper #success h1 {
        font-size: 4rem;
        font-weight: 900;
    }

    #testimonials-page-wrapper .testimonial-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px 10px;
    }

        @media screen and (max-width: 770px) {
            #testimonials-page-wrapper .testimonial-wrapper {
                display: flex;
                flex-direction: column;
            }
        }

    #testimonials-page-wrapper .testimonial h2,
    #testimonials-page-wrapper .testimonial {
        text-align: center;
    }

    #testimonials-page-wrapper .testimonial:last-of-type {
        margin-bottom: 8rem;
        grid-column: 1 / 3;
    }

/*******************************************
/* FOOTER
/*******************************************/
footer {
    background: #041615;
    color: white;
    padding-top: 5rem;
    padding-left: 50px;
}

    @media screen and (max-width: 480px) {
        footer {
            padding-left: 0;
        }

        /* #footer-logo {
            padding: 6rem 0 1rem 0;
        } */
    }

.footer-grid {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "info form"
        "bottom bottom";
}

    /* grid on tablet / mobile */
    @media screen and (max-width: 770px) {
        footer {
            padding-left: 0;
        }

        #footer-logo {
            margin-top: 4rem;
            margin-bottom: 4rem;
        }

        .footer-info > p {
            padding: 0 6rem;
        }

        .footer-grid {
            grid-template-columns: auto; 
            grid-template-areas:
                "form"
                "info"
                "bottom";
        }

        .footer-info {
            text-align: center;
        }

        .footer-info img {
            margin: 0 auto;
            width: 200px;
        }
    }

.footer-info { grid-area: info; }
.footer-form { grid-area: form; }
.footer-bottom { grid-area: bottom; }  

.footer-bottom {
    text-align: center;
    margin-top: 3rem;
}

.footer-bottom p,
.footer-bottom a {
    font-size: 1.25rem;
    color: #4d5252;
}

.footer-info p {
    font-size: 1.35rem;
    line-height: 1.75rem;
}

.footer-info p:last-of-type {
    margin-bottom: 4rem;
}

.social-link:first-of-type {
    margin-right: 1.5rem;
}

.social-icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-main-light);
}

.footer-social {
    margin-bottom: 3rem;
}
.social-icon:hover {
    fill: var(--color-main);
}

.services-footer ul {
    margin: 0;
}

.services-footer li {
    list-style-type: none;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.services-footer li a:hover,
.services-footer li a:focus {
    color: var(--color-main);
    text-decoration: none;
}

/*******************************************
/* FORM
/*******************************************/
form {
    margin: 0 0 2em 0;
    padding: 0 50px 0 50px;
    font-size: 1.2rem;
}
    form h1 {
        margin-bottom: 4rem;    
    }

    .field {
        margin-bottom: 2rem;
    }

    form > :last-child {
        margin-bottom: 0;
    }

    form > .fields {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: calc(100% + 3em);
        margin: -1.5em 0 2em -1.5em;
    }

        form > .fields > .field {
            -moz-flex-grow: 0;
            -webkit-flex-grow: 0;
            -ms-flex-grow: 0;
            flex-grow: 0;
            -moz-flex-shrink: 0;
            -webkit-flex-shrink: 0;
            -ms-flex-shrink: 0;
            flex-shrink: 0;
            padding: 1.5em 0 0 1.5em;
            width: calc(100% - 1.5em);
        }

            form > .fields > .field.half {
                width: calc(50% - 0.75em);
            }

    @media screen and (max-width: 480px) {
        form {
            padding: 0;
        }
        
        form > .fields {
            width: calc(100% + 3em);
            margin: -1.5em 0 2em -1.5em;
        }
            form > .fields > .field {
                padding: 1.5em 0 0 1.5em;
                width: calc(100% - 1.5em);
            }
                form > .fields > .field.half {
                    width: calc(100% - 1.5em);
                }
    }

form h1 {
    margin-top: 0;
}

label {
    color: var (--color-main-light);
    font-weight: bold;
    line-height: 0.75;
    margin: 0 0 1em 0;
    display: block;
    font-size: 1.45rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.25em;
    border: none;
    border: solid 1px rgba(255, 255, 255, 0.15);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

    input[type="text"]:invalid,
    input[type="password"]:invalid,
    input[type="email"]:invalid,
    input[type="tel"]:invalid,
    select:invalid,
    textarea:invalid {
        box-shadow: none;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus,
    select:focus,
    textarea:focus {
        border-color: #ffffff;
        box-shadow: 0 0 0 1px #ffffff;
    }

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 3.75em;
}

textarea {
    padding: 0.75em 1em;
}

    body.is-ie textarea {
        min-height: 10em;
    }

.submit-btn {
    background-color: var(--color-main);
    border: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 4rem;
    width: 100%;
}

.submit-btn:hover,
.submit-btn:focus {
    cursor: pointer;
    text-decoration: none;
    color: var(--color-main);
    background: var(--color-main-light);
}

    /*******************************************
    /* CONSULTATION PAGE
    /*******************************************/
    #consult-wrapper {
        margin: 10rem 0 12rem 0;
    }

    #consult-wrapper form {
        font-size: 1.rem;
    }

    #consult-wrapper .section-consultation {
        border-radius: 10px;
        background: var(--color-main-light);
        padding: 8rem 5rem 8rem 5rem;
    }

    #consult-wrapper .section-consultation > p {
        text-align: center;
        padding: 0 5rem;
    }

    #consult-wrapper .section-consultation > p:last-of-type {
        margin-bottom: 8rem;
    }

    #consult-wrapper input[type="text"],
    #consult-wrapper input[type="email"],
    #consult-wrapper input[type="tel"],
    #consult-wrapper select,
    #consult-wrapper textarea {
        background: rgba(233, 236, 239, 0.579);
        border: solid 1.75px var(--color-main);
    }

    #consult-wrapper input[type="text"]:focus,
    #consult-wrapper input[type="password"]:focus,
    #consult-wrapper input[type="email"]:focus,
    #consult-wrapper input[type="tel"]:focus,
    #consult-wrapper select:focus,
    #consult-wrapper textarea:focus {
        border-color: var(--color-main-dark);
        box-shadow: 0 0 0 1px #ffffff;
    }
