/* Box Model Hack */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*******************************************
/* VARIABLES
/*******************************************/
:root {
    --color-main: #E75A7C;
    --color-accent-dark: #fff;
    --color-accent-light: #fff;
}

/*******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
}

p {
    font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1140px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover, 
a:focus {
    text-decoration: underline;
}

.btn {
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    min-width: 120px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
}

/*******************************************
/* HEADER
/*******************************************/
.site-header {
    position: relative;
    background: var(--color-main);
    padding: 10px 0;
}

.logo-img {
    width: 200px;
    margin-top: 8px;
}

.header-btn {
    background-color: var(--color-main);
    border: 1.5px solid #fff;
    color: #fff;
    font-size: 1.25rem;
}
    @media (max-width: 445px) {
        .header-btn {
            display: none;
        }
    }

.site-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
    @media (min-width: 840px) {
        .site-header-wrapper {
            padding-top: 0;
            padding-bottom: 0;
            padding: 0 2rem;
        }
    }

    @media (max-width: 839px) {
        .site-header-wrapper {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    @media (max-width: 839px) {
        .site-header-wrapper {
            flex-wrap: wrap;
        }

        .site-header {
            padding-top: 0;
            padding-bottom: 0;
        }

        .site-header-end {
            justify-self: self-end;
        }

        /* nav section */
        .site-header-middle {
            flex-basis: 100%;
            order: 3;
        }
    }

    /*******************************************
    /* NAV
    /*******************************************/
    nav.main ul {
        padding: 0;
        margin: 0;
    }

    nav.main li {
        list-style-type: none;
    }

    .nav-wrapper {
        display: flex;
        justify-content: space-around;
    }

    .nav-item a {
        display: block;
        padding: 0 1.25rem;
        font-size: 1.5rem;
    }

        @media (max-width: 839px) {
            .nav-item a {
                padding: 1rem 0 1.5rem 0;
                font-size: 1.15rem;
            }

            .header-btn {
                font-size: 1.25rem;
            }
        }

/*******************************************
/* LAYOUT
/*******************************************/
.section-wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*******************************************
/* MAIN
/*******************************************/
main {
    margin-bottom: 10em;
}

    @media (max-width: 839px) {
        main {
            margin-bottom: 3.5em;
        }
    }

main img {
    width: 100%;
}

/*******************************************
/* ABOUT
/*******************************************/
.section-about {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    @media (max-width: 839px) {
        .section-about {
            flex-direction: column;
        }
    }

.about-start {
    flex: 0.5 1 0;
}
    .about-start h1 {
        font-size: 4rem;
    }

.about-middle {
    flex: 1 1 0;
    margin: 0 2.5em;
}
    .about-middle img {
        
    }

.about-end {
    flex: 1 1 0;
}

/*******************************************
/* SERVICES
/*******************************************/
