/* Box Model Hack */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*******************************************
/* VARIABLES
/*******************************************/
:root {
    --color-main: #E75A7C;
    --color-accent-dark: #fff;
    --color-accent-light: #fff;
}

/*******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 62.5%;
}

body {
    font-family: Inter, 'Arial Narrow Bold', sans-serif;
    color: #2D0610;
    background: #FEF6F8;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Inter, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
}

p {
    font-family: Inter, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

ul {
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1140px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #FEF6F8;
}

a:hover, 
a:focus {
    text-decoration: underline;
}

.btn {
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    min-width: 120px;
    padding: 0.75rem 2.5rem;
    border-radius: 5px;
    text-align: center;
}

/*******************************************
/* HEADER
/*******************************************/
.site-header {
    position: relative;
    background: var(--color-main);
    padding: 10px 0;
}

.logo-img {
    width: 200px;
    margin-top: 8px;
}

.header-btn {
    background-color: var(--color-main);
    border: 1.5px solid #fff;
    color: #fff;
    font-size: 1.25rem;
}

.header-btn:hover,
.header-btn:focus {
    text-decoration: none;
    color: var(--color-main);
    background: #FEF6F8;
}

    @media (max-width: 445px) {
        .header-btn {
            display: none;
        }
    }

.site-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
    @media (min-width: 840px) {
        .site-header-wrapper {
            padding-top: 0;
            padding-bottom: 0;
            padding: 0 2rem;
        }
    }

    @media (max-width: 839px) {
        .site-header-wrapper {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    @media (max-width: 839px) {
        .site-header-wrapper {
            flex-wrap: wrap;
        }

        .site-header {
            padding-top: 0;
            padding-bottom: 0;
        }

        .site-header-end {
            justify-self: self-end;
        }

        /* nav section */
        .site-header-middle {
            flex-basis: 100%;
            order: 3;
        }
    }

    /*******************************************
    /* NAV
    /*******************************************/
    nav.main ul {
        padding: 0;
        margin: 0;
    }

    nav.main li {
        list-style-type: none;
    }

    .nav-wrapper {
        display: flex;
        justify-content: space-around;
    }

    .nav-item a {
        display: block;
        margin: 0 1rem;
        padding: 0 1.25rem;
        font-size: 1.5rem;
    }

        @media (max-width: 839px) {
            .nav-item a {
                padding: 2rem 0 1.5rem 0;
                font-size: 1.25rem;
            }

            .header-btn {
                font-size: 1.25rem;
            }
        }

/*******************************************
/* LAYOUT
/*******************************************/
.section-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}
    @media (max-width: 1100px) {
        .section-wrapper {
            margin: 0 8em;
        }
    }

.section {
    margin-bottom: 6em;
} 

.section h1 {
    font-size: 3rem;
}

/*******************************************
/* MAIN
/*******************************************/
main {
    margin-bottom: 8em;
}

    @media (max-width: 839px) {
        main {
            margin-bottom: 3.5em;
        }
    }

main img {
    width: 100%;
}

/*******************************************
/* ABOUT
/*******************************************/
.section-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    @media (max-width: 839px) {
        .section-about {
            flex-direction: column;
        }
    }

.about-start {
    flex: 0.5 1 0;
}

.about-start h1 {
    font-size: 5rem;
}

.about-middle {
    flex: 1 1 0;
    margin: 0 2.5em;
}

.about-end {
    flex: 1 1 0;
}

/*******************************************
/* MESSAGES
/*******************************************/
.section-message {
    text-align: center;
}
.section-message h2 {
    font-family: Kavoon;
    font-size: 6rem;
}


/*******************************************
/* SERVICES
/*******************************************/
.services-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}

    @media all and (max-width:900px) {
        .services-grid {
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
        }
    }

.services-grid h3 {
    font-size: 1.85rem;
    margin: 1rem 0 0.6rem;
}

.services-grid a {
    display: block;
    text-decoration: none;
    margin: 1.25rem 0 0.95rem;
    font-size: 1.20rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2D0610;
}

.services-grid p {
    margin: 1rem 0;
    line-height: 1.5;
}

.service {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #e7e7e7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    border: 2px solid #EE87A0;
}

.service h3,
.service .cta {
    color: #EE87A0;
}

.service > * {
    flex: 1 1 100%;
}

.service .cta {
    align-self: flex-end;
}

/*******************************************
/* TESTIMONIALS
/*******************************************/
.testimonials {
    display: flex;
}

.testimonial {
    background: #F4B3C3;
    border-radius: 10px;
    padding: 1rem 4rem;
    margin: 2rem 0;
}